.grid-container {
    grid-auto-flow: dense;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #521818;
    transition: 0.3s ease-in-out;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.links-item:hover {
    transform: scale(1.01);
    filter: opacity(0.9);
}

.links-item a{
    text-decoration: none;

}

.wide {
    grid-column: span 2;
}
.tall {
    grid-row: span 2;
}

.link-carta-container{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.link-carta{
    color: #fff;
    font-size: 22px;
}
.pedir-item{
    background-color: rgb(77, 43, 35);
}
.link-pedir{
    color: #fff;
    font-size: 22px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.about-main-container{
    text-align: center;
    
}
.about-main{
    color: white;
    background-color: #3a111c;
}
.link-registro{
    color: #fff;
    font-size: 22px;
}  
.about-main-container{
    text-align: center;
    
  }
  .about-main{
    color: white;
    background-color: #3a111c;
    border-bottom: solid 1px #fff;
  }